.m-menu {
  background: $color-primary;
  color: #a2a3b7;
  height: 100vh;
  width: pxToEm(240);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;

  &_avatar {
    background: $color-dark-02;
    padding: 2em 0.5em;
    text-align: center;
    img {
      width: pxToRem(80);
      border-radius: 50%;
      overflow: hidden;
      border: 4px solid #ffea92;
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
    }
    h2 {
      font-weight: normal;
      margin-bottom: 0;
      font-size: $font-rem--xsl;
    }
  }

  ul {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;

    li {
      padding: 0.5em 1em 0.5em 3em;
      font-size: pxToRem(14);
      font-weight: regular;
      background-repeat: no-repeat;
      background-position: left 15px center;
      background-size: auto 20px;
      transition: all 0.15s linear;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
      &:focus {
        outline: none;
      }
      svg {
        width: pxToRem(25);
        height: pxToRem(25);
        margin-bottom: pxToRem(-10);
        text-align: left;
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
        fill: #494b74;
      }
      svg g [fill],
      svg g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
        fill: #494b74;
      }
    }
  }

}

@media screen and (max-width: $responsive-sml) and (min-width: $responsive-xs) {
  .m-menu {
    width: pxToRem(90);

    &_avatar {
      padding: 0.5em;
      position: relative;

      img {
        width: 60px;
      }
      h2 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: pxToRem(100);
        margin: 0;
        min-width: pxToRem(200);
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.4);
        transform: translate3d(-20px, -50%, 0);
        transition: all 0.15s ease-in-out;
      }
    }
    ul li {
      height: pxToRem(60);
      background-position: center center;
      background-size: pxToRem(30) auto;
      position: relative;
      span {
        opacity: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        padding: 0.2em 0.5em;
        border-radius: 4px;
        top: 50%;
        left: pxToRem(80);
        transform: translate3d(-15px, -50%, 0);
        transition: all 0.15s ease-in-out;
        &:before {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          top: 50%;
          left: -5px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid rgba(0, 0, 0, 0.5);
          transform: translateY(-50%);
        }
      }
      ul li:hover span {
        opacity: 1;
        transform: translate3d(0px, -50%, 0);
      }
    }
  }
}
@media screen and (max-width: $responsive-xs) {
  .m-menu {
    width: pxToRem(260);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;

    &_trigger {
      width: pxToRem(40);
      height: pxToRem(40);
      position: absolute;
      left: 100%;
      background: $color-dark-02;

      &:before,
      &:after {
        content: '';
        width: 50%;
        height: 2px;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
      &:after {
        top: 55%;
        transform: translate3d(-50%, -50%, 0);
      }
    }


    ul li {
      padding: 1em 1em 1em 3em;
      font-size: pxToRem(14);
    }
    &:focus {
      transform: translate3d(0, 0, 0);
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
    }
    &:focus .m-menu_trigger {
      pointer-events: none;
    }
  }
}
