@import '../utilities/all';

.s-align {
  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  @include mediaQueryDesktop {
    &--rightMd {
      text-align: right;
    }
  }
}
